<%= link_to("<< Back to list",{:action => 'index'}, :class => 'back-link') %>
<div class="pages new">
<h2>Create Subject </h2>
<%= form_for(:page, :url => {:action => 'create'}) do |f| %>
  <table summary="Page from  fields">
  <%= render(:partial => "form",:locals =>{:f => f}) %>
  </table>
</div>  
<div class="form-buttons">
  <%= submit_tag("create Sections") %>
  <% end %>
</div>
    